.tarjeta-usuario {
    width: auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px black solid;
    border-radius: 8px;
}